/* Colors */

:root {
	--clr-blue: hsl(223, 87%, 63%);
	--clr-pale-blue: hsl(223, 100%, 88%);
	--clr-light-red: hsl(354, 100%, 66%);
	--clr-gray: hsl(0, 0%, 59%);
	--clr-Vdark-blue: hsl(209, 33%, 12%);
}

/* General styling */

* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Libre Franklin", sans-serif;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 2rem;
	font-weight: 300;
}

/* Containers */

.container {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

/* Images */

.logo {
	width: 17%;
	margin-bottom: 2rem;
}

.dashboard {
	width: 90%;
	max-width: 50rem;
	margin-bottom: 10rem;
}

.icon-group {
	display: flex;
	gap: 1.5rem;
}

.icons {
	width: 1.8rem;
	color: var(--clr-blue);
	border: 1.5px solid hsla(223, 100%, 88%, 0.438);
	border-radius: 50%;
	padding: 0.9rem;
	margin-bottom: 4rem;
	transition: all .3s;
}

.icons:hover {
	color: white;
	background: var(--clr-blue);
	cursor: pointer;
}

/* Content */

h1 {
	font-size: 2.7rem;
	font-weight: 300;
	color: var(--clr-gray);
	margin-bottom: 2.5rem;
}

span {
	font-weight: 700;
	color: var(--clr-Vdark-blue);
}

p {
	color: var(--clr-Vdark-blue);
	font-size: 1.5rem;
	margin-bottom: 3.5rem;
}

/* Form */

.form {
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: 0 auto;
	align-items: center;
	margin-bottom: 5rem;
}

/* Email / Buttons */

#email {
	margin-bottom: 0.5rem;
}

.btn {
	outline: none;
	border-radius: 30px;
	padding: 1.5rem 3rem;
	width: 100%;
	font-size: 1.5rem;
}

.btn-primary {
	border: 1px solid var(--clr-pale-blue);
}

::placeholder {
	color: var(--clr-pale-blue);
}

.btn-secondary {
	font-weight: 600;
	color: white;
	background: var(--clr-blue);
	border: none;
	margin-top: 1.5rem;
	box-shadow: 0 7px 15px var(--clr-pale-blue);
	transition: all 0.2s;
}

.btn-secondary:hover {
	cursor: pointer;
	background: hsla(223, 87%, 63%, 0.801);
}

#error {
	display: none;
	margin-bottom: 1.5rem;
	font-weight: 300;
	font-size: 1.2rem;
	font-style: italic;
}

/* Screensizes */

@media screen and (min-width: 900px){
	.form {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		text-align: left;
		gap: 1rem;
		margin-bottom: 5rem;
	}
	#email {
		margin-bottom: 0rem;
		width: 38rem;
	}
	.btn-secondary {
		margin-top: 0rem;
		width: 20rem;
	}
	#error {
		grid-area: 2;
		margin-left: 2rem;
	}
	.dashboard {
		max-width: 60rem;
		margin-bottom: 6rem;
	}
	h1 {
		font-size: 3.5rem;
		margin-bottom: 1.5rem;
	}
	.logo {
		margin-top: 3rem;
	}
}